In [1]:
# Practice Dataset!!

In [1]:
import pandas as pd

In [24]:
df_demo = pd.read_csv("CustomerDemographic.csv")
df_trans = pd.read_csv("Transactions.csv")

In [25]:
df_demo.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [26]:
df_trans_sub = df_trans[['customer_id','list_price']]

In [12]:
df_trans_sub = df_trans_sub.groupby('customer_id').sum().reset_index()

In [13]:
df_trans_sub.head(5)

   customer_id  list_price
0            1     9084.45
1            2     4149.07
2            3     9888.23
3            4     1047.72
4            5     5903.20

In [14]:
df_merged = pd.merge(df_demo,df_trans_sub, on = 'customer_id', how = 'inner')

In [15]:
df_merged.head(10)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,list_price
0,720,Darrel,Canet,Male,67,10/23/31,Recruiting Manager,Retail,Affluent Customer,N,1;DROP TABLE users,No,6.0,13004.35
1,1092,Katlin,Creddon,Female,56,8/22/35,VP Quality Control,Retail,Mass Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,No,5.0,4893.72
2,3410,Merrili,Brittin,Female,93,9/22/40,NaN,Property,Mass Customer,N,á,No,16.0,2965.89
3,2413,Abbey,Murrow,Male,27,8/11/43,Environmental Specialist,Manufacturing,High Net Worth,N,á,Yes,17.0,8666.87
4,658,Donn,Bonnell,Male,38,1/24/44,Tax Accountant,Manufacturing,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,8.0,5305.31
5,1243,Robbert,Blakey,Male,73,8/9/53,Research Assistant II,Retail,Mass Customer,N,"""'",No,8.0,11625.08
6,1565,Jay,Janiszewski,Male,71,8/17/53,Sales Representative,Retail,High Net Worth,N,NaN,Yes,11.0,3083.23
7,1177,Bobbette,Pozzi,Female,47,8/31/53,Food Chemist,Health,Affluent Customer,N,1.00E+02,Yes,6.0,8367.47
8,3471,Brita,Afonso,Female,95,9/5/53,Quality Engineer,IT,High Net Worth,N,ÅâÂ´â°ËÃÂ¨ËÃâââ,Yes,8.0,4637.48
9,2813,Lillian,Crookall,Female,51,9/10/53,Chemical Engineer,Manufacturing,Mass Customer,N,!@#$%^&*(),Yes,11.0,6323.22

In [16]:
from datetime import date 
  
def calculateAge(born): 
    today = date.today() 
    try:  
        birthday = born.replace(year = today.year) 
  
    # raised when birth date is February 29 
    # and the current year is not a leap year 
    except ValueError:  
        birthday = born.replace(year = today.year, month = born.month + 1, day = 1) 
  
    if birthday > today: 
        return today.year - born.year - 1
    else: 
        return today.year - born.year

In [17]:
df_merged['age'] = df_merged['DOB'].apply(lambda x: calculateAge(x))

TypeError: replace() takes no keyword arguments

In [28]:
df = pd.read_csv("customers.csv",usecols =        'default', 'owns_car', 'tenure'])

SyntaxError: invalid syntax (<ipython-input-28-0659dffa600a>, line 1)

In [22]:
df_new = pd.read_csv("new.csv")

In [27]:
df_new.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       ...
       'Unnamed: 246', 'Unnamed: 247', 'Unnamed: 248', 'Unnamed: 249',
       'Unnamed: 250', 'Unnamed: 251', 'Unnamed: 252', 'Unnamed: 253',
       'Unnamed: 254', 'Unnamed: 255'],
      dtype='object', length=256)